@import "theme";
@import "user";
@import "work-details";
@import "technologies";
@import "experience";
@import "education";
.details {
  grid-area: details;
  grid-column: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}
