@import "breakpoint";
.work-details {
  display: flex;
  max-width: 348px;
  width: 100%;
  background-color: $bg-cards;
  margin: 30px auto 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  a {
    text-decoration: none;
    display: flex;
    margin: 0 auto;

    p {
      display: none;
      color: $text-color;
    }
  }
}
@media screen and (min-width: $tablets) {
  .work-details {
    flex-direction: column;
    padding: 0 20px;
    a {
      margin: 10px 0;
      p {
        display: flex;
        margin-left: 20px;
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (min-width: $laptops) {
  .work-details {
    flex-direction: column;
    padding: 30px 40px;

    a {
      align-items: center;
      p {
        font-size: 0.7rem;
      }
    }
  }
}
