@import "theme";
@import "details";
@import "content";
@import "footer";
@import "breakpoint";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $body-bg-color;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-areas:
    ".details"
    ".main-content"
    ".footer";
  font-family: $text-font;
}

@media screen and (min-width: $laptops) {
  body {
    grid-template-columns: auto 2fr;
    grid-template-areas:
      ".details" ".main-content"
      ".footer" "footer";
  }
}
