.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #302f3d;
  max-width: 348px;
  width: 100%;
  margin: 40px 0 0;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.user img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #00ff00;
}
.user .user-details {
  text-align: center;
}
.user .user-details h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #837e9f;
}
.user .user-details p {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #837e9f;
}

@media screen and (min-width: 481px) {
  .user {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .user img {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }
  .user .user-details {
    margin-top: 20px;
  }
}
@media screen and (min-width: 769px) {
  .user {
    height: 292px;
  }
  .user img {
    width: 128px;
    height: 128px;
  }
  .user .user-details h1 {
    font-size: 1.4rem;
  }
}
.work-details {
  display: flex;
  max-width: 348px;
  width: 100%;
  background-color: #302f3d;
  margin: 30px auto 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.work-details a {
  text-decoration: none;
  display: flex;
  margin: 0 auto;
}
.work-details a p {
  display: none;
  color: #837e9f;
}

@media screen and (min-width: 481px) {
  .work-details {
    flex-direction: column;
    padding: 0 20px;
  }
  .work-details a {
    margin: 10px 0;
  }
  .work-details a p {
    display: flex;
    margin-left: 20px;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 769px) {
  .work-details {
    flex-direction: column;
    padding: 30px 40px;
  }
  .work-details a {
    align-items: center;
  }
  .work-details a p {
    font-size: 0.7rem;
  }
}
.technologies {
  max-width: 348px;
  width: 100%;
  background-color: #302f3d;
  margin: 30px auto 0;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.technologies h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 20px;
  color: #837e9f;
}
.technologies .technologies-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-top: 20px;
}
.technologies .technologies-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cb92b1;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  margin: 0 0 15px 15px;
}
.technologies .technologies-container li:hover {
  cursor: pointer;
}

.experience {
  max-width: 348px;
  width: 100%;
  background-color: #302f3d;
  margin: 30px auto 0;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.experience h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 20px;
  color: #837e9f;
}
.experience .experience-container {
  margin: 20px 0 0 40px;
}
.experience .experience-container li {
  margin-top: 10px;
  color: #837e9f;
}
.experience .experience-container li strong {
  font-size: 0.8rem;
}
.experience .experience-container li p {
  font-size: 0.7rem;
  font-weight: 400;
}

.education {
  max-width: 348px;
  width: 100%;
  background-color: #302f3d;
  margin: 30px auto 0;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.education h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 20px;
  color: #837e9f;
}
.education .education-container {
  margin: 20px 0 0 40px;
}
.education .education-container li {
  margin-top: 10px;
  color: #837e9f;
}
.education .education-container li strong {
  font-size: 0.8rem;
}
.education .education-container li p {
  font-size: 0.7rem;
  font-weight: 400;
}

.details {
  grid-area: details;
  grid-column: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .details {
    padding: 0 20px 0 40px;
  }
}
.container-cards .card {
  width: 100%;
  max-width: 348px;
  margin: 30px auto 0;
  background-color: #302f3d;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container-cards .card .name-repo {
  display: flex;
}
.container-cards .card .name-repo .name {
  font-size: 1rem;
  font-weight: 700;
  color: #837e9f;
  margin-left: 16px;
}
.container-cards .card .description {
  font-size: 0.8rem;
  font-weight: 400;
  color: #837e9f;
  margin-top: 20px;
}
.container-cards .card .container-details-card {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}
.container-cards .card .container-details-card .stars-branch {
  display: flex;
}
.container-cards .card .container-details-card .stars-branch .icon-container + .icon-container {
  margin-left: 16px;
}
.container-cards .card .container-details-card .stars-branch .icon-container {
  display: flex;
  align-items: center;
}
.container-cards .card .container-details-card .stars-branch .icon-container p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #837e9f;
  margin-left: 8px;
}
.container-cards .card .container-details-card .language {
  display: flex;
  align-items: center;
}
.container-cards .card .container-details-card .language .dot {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #e7de79;
  border: 2px solid #837e9f;
}
.container-cards .card .container-details-card .language p {
  color: #837e9f;
}

@media screen and (min-width: 769px) {
  .container-cards {
    display: flex;
  }
  .container-cards .card + .card {
    margin-left: 30px;
  }
  .container-cards .card {
    margin: 30px 0 0;
    max-width: 461px;
    padding: 30px;
  }
  .container-cards .card:hover {
    cursor: pointer;
  }
  .container-cards .card .name-repo .name:hover {
    text-decoration: underline;
  }
}
.post-container .post {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 348px;
  background-color: #302f3d;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.post-container .post:hover {
  cursor: pointer;
}
.post-container .post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post-container .post .post-details {
  margin-left: 20px;
}
.post-container .post .post-details .post-title h3 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #837e9f;
}
.post-container .post .post-details .post-title p {
  font-size: 0.6rem;
  font-weight: 400;
  color: #837e9f;
  margin-top: 8px;
}
.post-container .post .post-details .post-description {
  margin-top: 28px;
}
.post-container .post .post-details .post-description p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #837e9f;
}
.post-container .post .post-details .post-description .tags {
  margin-top: 10px;
  list-style: none;
  display: flex;
}
.post-container .post .post-details .post-description .tags li + li {
  margin-left: 10px;
}
.post-container .post .post-details .post-description .tags li {
  font-size: 0.6rem;
  color: #837e9f;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .post-container .post {
    align-items: center;
    max-width: 900px;
    margin: 30px 0;
  }
  .post-container .post img {
    width: 128px;
    height: 128px;
  }
  .post-container .post .post-details .post-title h3 {
    font-size: 1.1rem;
  }
  .post-container .post .post-details .post-title h3:hover {
    text-decoration: underline;
  }
  .post-container .post .post-details .post-title p {
    font-size: 0.8rem;
  }
  .post-container .post .post-details .post-description p {
    font-size: 1rem;
  }
  .post-container .post .post-details .post-description .tags li {
    font-size: 0.8rem;
  }
  .post-container .post .post-details .post-description .tags li:hover {
    text-decoration: underline;
  }
}
.main-content {
  grid-area: main-content;
  grid-column: 1;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  margin: 30px auto 0;
}
.main-content .my-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 348px;
  width: 100%;
  background-color: #302f3d;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main-content .my-projects h3 {
  font-size: 1.2rem;
  color: #837e9f;
}
.main-content .my-projects a {
  font-size: 0.8rem;
  color: #837e9f;
  text-decoration: none;
}
.main-content .recent-posts {
  max-width: 348px;
  width: 100%;
  margin: 30px auto 0;
  background-color: #302f3d;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main-content .recent-posts h3 {
  font-size: 1.2rem;
  color: #837e9f;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .main-content {
    grid-column: 2;
    grid-row: 1;
    margin: 40px 0 0;
    padding: 0 40px 0 20px;
  }
  .main-content .my-projects {
    max-width: 100%;
  }
  .main-content .recent-posts {
    max-width: 100%;
  }
}
.footer {
  grid-area: footer;
  grid-column: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #837e9f;
}

@media screen and (min-width: 769px) {
  .footer {
    grid-column: span 2;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #22212c;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-areas: ".details" ".main-content" ".footer";
  font-family: "Merriweather Sans";
}

@media screen and (min-width: 769px) {
  body {
    grid-template-columns: auto 2fr;
    grid-template-areas: ".details" ".main-content" ".footer" "footer";
  }
}/*# sourceMappingURL=main.css.map */